@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

html {
  height: 100%;
  width: 100%;
}

*::-webkit-scrollbar{
  width: 8px;
  background-color: black;
}

*::-webkit-scrollbar-thumb{
  background-color: #a1683a;
}

* {
  margin: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body{
  background-color: black;
}

header {
  width: 100%;
  height: 95vh;
  position: relative;
  max-height: 1500px;
}

.HeaderGradient{
  width: 100%;
  height: 20vh;
  position: absolute;
  bottom: 0;
  z-index: 300;
  background-image: linear-gradient(to top, #1C1C1C, transparent);
}

header::before{
  content: '';
  width: 100%;
  height: 95vh;
  max-height: 1500px;
  background: url('img/600px.jpg') no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: .7;
}

#header-initial {
  width: 100%;
  padding: 5px 0px;
  background-image: linear-gradient(to bottom, black, black, transparent);
}

.all {
  width: 100%;
  max-width: 1050px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px 20px 5px;
}

.all img {
  width: 150px;
  height: 140px;
  border-radius: 100%;
  overflow: hidden;
}

#div-nav {
  width: 50%;
  max-width: 500px;
  min-width: 350px;
  display: flex;
  justify-content: center;
}

#nav {
  display: flex;
  gap: 3rem;
  padding: 10px 0px;
}

#nav > a {
  font-size: 1.4em;
  font-weight: 500;
  color: white;
  font-family: "Noto Sans", sans-serif;
  cursor: pointer;
  transition: all .1s ease-out;
  padding-bottom: 5px;
  border-bottom: 3px solid transparent;
  text-decoration: none;
  outline: none;
}

#nav a:hover {
  color: #a1683a;
  border-bottom: 3px solid #a1683a;
}

button {
  padding: 5px 30px;
  background-color: black;
  color: white;
  font-size: 1.4em;
  font-weight: 400;
  cursor: pointer;
  border: 1pt solid white;
  border-radius: 5px;
  transition: all .2s ease-out;
}

button:hover {
  transform: scale(1.1);
}

#img-fundo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#ajustar-nav {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;
}

#nav2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 0px 20px;
}

#nav2 > h3 {
  font-size: 1.8em;
  font-weight: 500;
  color: #f7f7ff;
  text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.8);
  font-style: italic;
}

#nav2>a {
  font-size: 1.5em;
  font-weight: 500;
  text-decoration: none;
  color: #f7f7ff;
  transition: all .1s ease-out;
}

#nav2>a:hover {
  transform: scale(1.1);
  color: #a1683a;
}

.main {
  width: 100%;

}

.conteudo-titulo {
  width: 100%;
  padding: 70px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 0.5rem;
  border: none;
  background-color: #1C1C1C;
}

.linha {
  width: 60px;
  border-top: 5px solid #a1683a;
}

.conteudo-titulo h1{
  color: white;
  text-align: center;
  font: 600 2.4em 'Noto Sans', sans-serif;
}

.titulo {
  font-size: 2.5em;
  font-weight: 600;
  color: #f7f7ff;
  text-align: center;
}

.section-header-text{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  padding: 20px;
  row-gap: .6rem;
  flex-direction: column;
  background-color: transparent;
  transform: translate(-50%, -25%);
}

.blur{
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  filter: blur(40px);
  z-index: 1;
}

.section-header-text h1{
  color: white;
  background-color: transparent;
  font: 600 2.5em 'Noto Sans', sans-serif;
  z-index: 3;
  width:max-content
}

.section-header-text p{
  color: rgb(255,255,255,.9);
  font: 400 1.4em 'Poppins', sans-serif;
  z-index: 3;
}

.section-header-text h1 .first-name{
  color: #a1683a;
}

.section-header-text h1 .last-name{
  color: white;
}

.conteudo-titulo p {
  max-width: 900px;
  margin-top: 30px;
  text-align: center;
  line-height: 150%;
  font-size: 1.3em;
  font-weight: 400;
  padding: 0px 20px;
  font-family: "Poppins", sans-serif;
  color: #d9d9d9;
}

section {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: black;
}

.section-divs {
  width: 50%;
  border: none;
}

#section-text {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 30px;
}

.validationTitle{
  font: 600 2.5em 'Noto Sans', sans-serif;
  color: white;
  margin-bottom: 8px;
}

#section-text-ajustar {
  width: 80%;
  height: 100%;
  padding: 10px 60px 10px 10px;
}

#section-text-ajustar p {
  margin: 30px 0px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: #d9d9d9;
  line-height: 150%;
  text-align: start;
}

.clientName{
  font-size: 2em;
  font-weight: 600;
  color: #f7f7ff;
}

#cliente {
  font-size: 1.3em;
  font-weight: 500;
  color: #a1683a;
}

#section-image {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

#ajusta-imagem img {
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

.section-cortes {
  width: 100%;
  display: flex;
  padding: 50px 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1C1C1C;
}

.hairCutTitle{
  font: 600 2.4em 'Noto Sans', sans-serif;
  color: white;
  margin-bottom: 8px;
}

#div-cortes {
  margin-top: 50px;
  display: flex;
  padding: 10px;
  flex-direction: row;
  gap: 1.5rem;
}

.cortes {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cortes-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

.cortes-text {
  width: 100%;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: .5rem;
  background-color: black;
}

.cortes-img img{
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  transition: all .2s ease-in-out;
}

.cortes-img  img:hover{
  transform: scale(1.1);
}

.cortes-text  h3{
  font-size: 1.8em;
  font-weight: 600;
  text-align: center;
  color: #f7f7ff;
}

.cortes-text  p{
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
  color: #d9d9d9;
}

footer{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: black;
}

.div-footer{
  width: 100%;
}

#div-footer-1{
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  background-color: black
}

#div-creditos-imagens{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#titulo-creditos{
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 8px;
  color: #f7f7ff;
}

#linha-credito{
  margin-bottom: 30px;
}

h4 {
  font-size: 1.25em;
  font-weight: 400;
  margin-top: 10px;
  color: #f7f7ff;
}

.link-creditos{
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1em;
  color: #f7f7ff;
  margin-left: 10px;
  transition: all .2s ease-out;
}

.link-creditos:hover{
  display: inline-block;
  text-decoration: underline;
  color: #d62246;
  transform: scale(1.2);
}

#div-footer-2{
  display: flex;
  padding: 10px 0px;
  justify-content: center;
  background-color: #1C1C1C;
}

.copyright{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
}

.copyright  p{
  font-weight: 400;
  font-size: 1.2em;
  color: #d9d9d9;
}

#nav-icons  a{
  font-size: 1.9em;
  transition: all .2s ease-in-out;
}

#nav-icons  a:hover{
  transform: scale(1.2);
}

#nav-icons{
  display: flex;
  gap: 2rem;
  padding: 10px 0px;
}


.fa{
  color: #d9d9d9;
}


#nome-cliente{
  text-align: initial;
  font-size: 2.2em;
}

#ajusta-imagem{
  width: 100%;
}

/*Media quarries*/

@media screen and (max-width: 1100px){
  .all{
    width: 100%;
    padding: 5px 20px;
  }

  #section-text-ajustar > p{
    margin: 30px 0px;
  }
  
  #section-text{
    width: 45%;
    display: flex;
    justify-content: center;
  }

  #section-image{
    width: 55%;
  }

  #section-text-ajustar{
    width: 100%;
    padding: 0px 10px 0px 20px;
  }
  
  #section-text-ajustar p{
    font-size: 1.3em;
  }

  #div-cortes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 3rem;
  }

  .copyright{
    width: 100%;
    padding: 0px 20px;
  }
  
  .copyright p{
    font-size: 1.2em;
  }

  #titulo-creditos{
    font-size: 2.1em;
  }

  h4{
    font-size: 1.2em;
  }

  #nome-cliente{
    font-size: 2em;
  }
}

@media screen and (max-width: 950px){
  button{
    display: none;
  }

  .section-header-text h1{
    font-size: 2.3em;
  }

  .section-header-text p{
    font-size: 1.3em;
  }

  .conteudo-titulo h1{
    font-size: 2.3em;
  }

  .conteudo-titulo p{
    font-size: 1.2em;
  }

  #section-text-ajustar p{
    font-size: 1.2em;
  }

  .validationTitle{
    font-size: 2.3em;
  }

  .clientName{
    font-size: 1.8em;
  }

  #cliente{
    font-size: 1.3em;
  }

  .hairCutTitle{
    font-size: 2.2em;
  }

  #titulo-creditos{
    font-size: 2em;
  }

  #div-creditos-imagens h4{
    font-size: 1.1em;
  }

  .copyright p{
    font-size: 1.1em;
  }

  #nav-icons  a{
    font-size: 1.75em;
  }
}

@media screen and (max-width: 850px) {

  .all{
    margin-bottom: 30px;
  }

  .all img{
    width: 140px;
    height: 130px;
  }

  #img-fundo{
    opacity: .9;
  }

  .conteudo-titulo{
    display: flex;
  }

  .conteudo-titulo p{
    max-width: 100%;
    font-weight: 400;
    font-size: 1.2em;
  }

  #img-fundo{
    background: url("img/600px.jpg") no-repeat center center;
    background-size: cover;
  }

  #section-avaliaçao{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    row-gap: 2rem;
    min-height: auto;
    padding-top: 30px;
  }

  #section-text{
    width: 100%;
  }

  #section-text-ajustar{
    width: 100%;
    padding-right: 50px;
    margin-left: 0;
  }

  #section-image{
    width: 100%;
    margin: auto;
    max-width: 600px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    z-index: 1;
  }

  #ajusta-imagem{
    width: 100%;
  }
}


@media screen and (max-width: 790px) {
  .all{
    padding: 5px 30px;
  }

  button{
    display: none;
  }

  .section-header-text h1{
    font-size: 2.25em;
  }

  .section-header-text p{
    font-size: 1.25em;
  }
  
  .titulo{
    font-size: 2.5em;
  }

  .titulo2{
    font-size: 2.5em;
  }
  .copyright {
    display: flex;
    align-items: center;
    row-gap: .5rem;
    flex-direction: column-reverse;
  }
}


@media screen and (max-width: 650px){
  .titulo{
    font-size: 2.4em;
  }

  .section-header-text h1{
    font-size: 2.2em;
  }

  .conteudo-titulo > p{
    font-size: 1.2em;
    padding: 0px 30px;
  }

  #section-text-ajustar{
    width: 90%;
    padding-right: 20px;
  }
}



@media screen and (max-width: 600px) {
  
  .all{
    display: flex;
    flex-direction: column;
    padding: 5px 0px 0px 0px;
    max-height: 300px;
    margin-bottom: 0px;
  }

  .all img{
    width: 135px;
    height: 125px;
  }

  .section-header-text{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translateX(-50%);
  }

  .section-header-text h1{
    font-size: 1.9em;
    display: flex;
    text-align: center;
    flex-direction: column;
    row-gap: 0rem;
  }

  .section-header-text h1 .first-name{
    font-size: 1.2em;
  }

  .blur{
    filter: blur(50px);
  }

  .section-header-text p{
    font-size: 1.2em;
    width: max-content;
  }

  .all img{
    margin-bottom: 10px;
  }

  .conteudo-titulo {
    padding: 50px 0px;
  }

  #nav  a{
    font-size: 1.3em;
  }

  #img-fundo{
    padding: 0px 15px;
  }

  #nav2  a{
    font-size: 1.3em;
  }

  #nav2  h3{
    font-size: 1.6em;
  }

  .conteudo-titulo  p{
    font-size: 1.2em;
    text-align: start;
    font-family: "Noto Sans", sans-serif;
  }

  .conteudo-titulo  h1{
    font-size: 2.2em;
    padding: 0px 20px;
  } 

  #cliente{
    font-size: 1.15em;
  }

  #section-text{
    padding: 0px 30px 20px 30px;
  }

  #section-text-ajustar{
    width: 100%;
    padding: 0px 20px 0px 10px;
  }

  .validationTitle{
    font-size: 2.15em;
  }

  #section-text-ajustar > p{
    font-size: 1.2em;
  }
  
  .titulo2{
    font-size: 2.3em;
  }

  .cortes-text > h3{
    font-size: 2em;
  }

  .cortes-text > p{
    padding: 0px 10px;
    font-size: 1.1em
  }

  .copyright > p{
    font-size: 1.1em;
    padding: 0px 5px;
    text-align: center;
  }
}




@media screen and (max-width: 500px) {

  header{
    overflow: hidden;
  }

  .hairCutTitle{
    font-size: 2em;
  }
  
  #img-fundo:before{
    background: url("img/600px.jpg") no-repeat center center;
    background-size: cover;
    opacity: 0.7;
  }

  #titulo-creditos{
    font-size: 2em;
    text-align: center;
  }

  h4{
    font-size: 1.1em;
  }

  #linha-credito{
    margin-bottom: 15px;
  }
}





